<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li  <%= current_page?(:controller => 'purchases', :action => 'index') ? 'class=active' : '' %>><%= link_to 'Compras', purchases_path %></li>
        <li  <%= current_page?(:controller => 'purchases', :action => 'new') ? 'class=active' : '' %>><%= link_to 'Registrar compra', new_purchase_path %></li>
    </ul>
</div>