<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><%= link_to 'Clientes', customers_path %></li>
        <li><%= link_to 'Registrar cliente', new_customer_path %></li>
    </ul>
</div>