<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><%= link_to 'Ordenes', orders_path %></li>
        <li><%= link_to 'Registrar orden', new_order_path %></li>
    </ul>
</div>